html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #b3e5fccf;
}

.contenedor {
  display: grid;
  grid-template-areas:
    "header seccionUno seccionDos"
    "header seccionUno seccionDos"
  ;
  min-height: 100vh;
}

@media (width <=365px) {
  .contenedor {
    display: grid;
    grid-template-areas:
      "header header header"
      "seccionUno seccionUno seccionUno"
      "seccionDos seccionDos SeccionDos"
    ;
    margin: 8px;
  }

  .textarea {
    position: relative;
    margin-bottom: 50px;
    min-width: 90vw;
    top: -77px;
  }

  .alertaLetras {
    position: relative;
    top: -26vh;
    min-width: max-content;
  }

  .contedorBtn {
    position: absolute;
    margin: 1px;
    width: 100%;
  }

  .btnEncriptar {
    position: relative;
    margin: 1px;
    min-width: 95%;
    top: -26vh;
  }

  .btnDesencriptar {
    position: relative;
    margin: 1px;
    min-width: 95%;
    top: -26vh;
  }

  .imgMuneco {
    visibility: hidden;
  }

  .tituloParrafo {
    display: grid;
    position: absolute;
    top: 79vh;
  }

  .resultado {
    position: absolute;
    top: 85vh;
    min-width: 90vw;
    margin-left: 1vw;
  }

  .btnCopiar {
    position: absolute;
    bottom: -34vh;
    min-width: 80%;
  }
}

.contenedor .header {
  grid-area: header;
}

.header {
  height: 48px;
  margin-left: 40px;
  margin-top: 40px;
}

.contenedor .seccionUno {
  width: 90%;
  grid-area: seccionUno;
}

.textarea {
  margin-top: 20vh;
  justify-self: center;
  width: 90%;
  height: 48px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #0a3871;
  height: 20vh;
  resize: none;
  overflow: hidden;
}


.imgAlerta {
  width: 16px;
  height: 16px;
  display: flex;

}

.alertaLetras {
  color: #405057;
  margin-top: 40vh;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
}

.contedorBtn {
  margin-top: 1px;
  width: 100%;
  height: 10vh;
}

.btnEncriptar {
  margin-top: 0.5vh;
  width: 40%;
  height: 6vh;
  background-color: #0a3871;
  color: #fff;
  border-radius: 24px;
}

.btnDesencriptar {
  margin-top: 2.5vh;
  margin-left: 1vw;
  width: 40%;
  height: 6vh;
  background-color: #fff;
  color: #0a3871;
  border-radius: 24px;
}

.copiarArea button::before {
  content: "Copiado";
}


.resultado {
  margin-left: 1vw;
  margin-top: 10vh;
  width: 90%;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  height: 20vh;
  color: #0a3871;
  resize: none;
  overflow: hidden;
}


.imgMuneco {
  margin-top: 5vh;
  width: 100%;
  height: 29vh;
}

.tituloParrafo,
h3 {
  margin-top: 3vh;
  width: 100%;
  color: #343a40;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}

.tituloParrafo,
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.cBtnCopiar {
  margin-top: 5.5vh;
  margin-left: 7vw;
  width: 70%;
  height: 6vh;
  background-color: #fff;
  color: #0a3871;
  border-radius: 24px;
}